
{% extends 'profile_app/base.html' %}

{% block title %} <h1>Most Wanted List</h1><br><br>{% endblock %}
{% load crispy_forms_tags %}
{% load static %}


<h1>Most Wanted List</h1><br><br>
{% block content %}

    <div class="container">
      <div class="row">
      {% for wanted in wantedpeople %}
          <a type="button" class="btn btn-link col-md-3" href="{% url 'wanted_person_details' id=wanted.id %}" style="text-decoration: none; margin: 15px;">
            <div class="card row1 border-primary mb-3 " style="width: 18rem;">
              <img src="{{ wanted.avatar }}" class="card-img-top" alt="image not found" style="width: 286px; height: 280px; "/>
              <div class="card-body card"  style="width: 286px; height: 102px;">
                <h5 class="card-title">{{wanted.name}}</h5>
              </div>
            </div>
          </a>
    {% endfor %}
      </div>
    </div>




<style>
    h1{
     text-align: center;
    }
</style>

{% endblock %}